<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../stylesheets/blog.css">
    <title>ByteTabs | Blog</title>
    <link rel="icon" type="png" href="../images/logo1.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Start First Section -->
    <div class="first-section">
        <!-- Start Nav Bar -->
        <nav>
            <ul>
                <!-- Start Logo Part-->
                <li class="logo">
                    <img src="../images/logo1.jpg" alt="">
                    <span>Byte</span>Tabs
                </li>
                <!-- End Logo Part -->

                <!-- Start Navbar Content -->
                <div class="items">
                    <li><a href="../index">Home</a></li>
                    <li><a href="/hire">Hiring</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <!-- Start Navbar Content SideNavbar Open with Hamburger -->
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="../index">Home</a>
                        <a href="/about">About Us</a>
                        <a href="/service">Services</a>
                        <a href="/blog">Blog</a>
                        <a href="/hire">Hiring</a>
                        <a href="/contact">Contact Us</a>
                    </div>
                    <!-- End Navbar Content SideNavbar Open with Hamburger -->

                    <!-- Hamburger For Small Screen-->
                    <li class="btn hamburger"><span class="fas fa-bars"></span></li>
                </div>
                <!-- ENd Navbar Content -->
            </ul>
        </nav>
        <!-- End Nav Bar -->
    </div>
    <!-- End First Section -->






    <!-- Start Scroll Section -->
    <div class="section-2">
        <div class="scroll">
            <!-- Previous Arrow -->
            <div class="prev-arrow" onclick="scrollNavbar('left')">&#10094;</div>

            <!-- Start Navbar Menu -->
            <div class="navbar" id="navbar">
                <a href="#"><img src="../images/news.png" alt="">Tech News</a>
                <a href="#"><img src="../images/feedback.png" alt="">Product Reviews</a>
                <a href="#"><img src="../images/insight.png" alt="">Industry Insights</a>
                <a href="#"> <img src="../images/web.png" alt="">Guest Posts</a>
                <a href="#"><img src="../images/shopper.png" alt="">Lifestyle</a>
                <a href="#"><img src="../images/wellness.png" alt="">Food and Wellness</a>
                <a href="#"> <img src="../images/case-study.png" alt="">Case Studies</a>
                <a href="#"> <img src="../images/public-opinion.png" alt="">Opinion Pieces</a>
                <a href="#"><img src="../images/humor.png" alt="">Tech Humor</a>
            </div>
            <!-- End Navbar Menu -->
            <!-- Next Arrow -->
            <div class="next-arrow" onclick="scrollNavbar('right')">&#10095;</div>
        </div>
    </div>
    <!-- End Scroll Section -->

    <!-- Start Slider Section -->
    <div class="slideshow-container">
        <!-- Start Slider 1-->
        <div class="mySlides fade">
            <div class="img_slid">
                <div class="left_part">
                    <button>Technology</button>
                    <h1> AI in new Galaxy S24 is cool but will not remain exclusive to them in a few months</h1>
                    <p>One of the key features of the Samsung Galaxy S24 series is the use of AI inside the phones.
                        These AI features are indeed cool. And because they are cool, chances are they will soon also be
                        coming to other smartphones in the market, most likely with third-party apps.</p>
                </div>
                <div class="right_part">
                    <img src="../images/technoology.jpg">
                </div>
            </div>
        </div>
        <!-- End Slider 1-->

        <!-- Start Slider 2-->
        <div class="mySlides fade">
            <div class="img_slid">
                <div class="left_part">
                    <button>Events</button>
                    <h1> Faculty of Management Studies hosts conference on Social Entrepreneurship</h1>
                    <p>NEW DELHI: Social on Social in collaboration with Goonj and Faculty of Management Studies,
                        University of Delhi, a premier B-school in the country inaugurated the conference on Empowering
                        Change.</p>
                </div>
                <div class="right_part">
                    <img src="../images/event.jpg">
                </div>
            </div>
        </div>
        <!-- End Slider 2-->

        <!-- Start Slider 3-->
        <div class="mySlides fade">
            <div class="img_slid">
                <div class="left_part">
                    <button>Opinion</button>
                    <h1> AI Is Much Better at Evolution Than Revolution</h1>
                    <p>Microsoft's experiment with Bing and ChatGPT shows artificial intelligence can't magically
                        transform an ailing product, but it can enhance the ones that people already use.</p>
                </div>
                <div class="right_part">
                    <img src="../images/opinion.jpg">
                </div>
            </div>
        </div>
        <!-- End Slider 3-->

        <!-- Start 3 Dots Part-->
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <!-- End 3 Dots Part-->
    </div>
    <br>
    <!-- End Slider Section -->


    <!-- Start Section-4 -->
    <div class="section-4">
        <!-- Start Heading Section-->
        <div class="section-heading">
            <h1> Fashion and Lifestyle</h1>
            <button>View More</button>
        </div>
        <!-- End Heading Section-->
        <!-- Start Section Content-->
        <div class="section-content">
            <!-- Start Cards Section-->
            <div class="cards">
                <!-- Start Card 1-->
                <div class="card1 card">
                    <!-- Card Image -->
                    <img src="../images/fashion1.jpg" alt="">
                    <!-- Start Card Content-->

                    <div class="card-content">
                        <h4>An easy Guide to buying Denim & My favourite styles
                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/2.jpg" alt="">
                            <span>
                                <p>Harsh Bansal</p>
                                <p>jan 14, 2024.</p>
                            </span>
                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Card Content-->
                </div>
                <!-- End Card 1-->
                <!-- Start Card 2-->

                <div class="card2 card">
                    <!-- Card Image -->
                    <img src="../images/fashion2.jpg" alt="">
                    <!-- Start Card Content-->
                    <div class="card-content">
                        <h4>The Satin Skirt & How to Wear it all year round fashion
                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/7.jpg" alt="">

                            <span>
                                <p>Sakshi Roy</p>
                                <p>Jan 5, 2024.</p>
                            </span>
                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Card Content-->
                </div>
                <!-- Start Card 2-->
                <!-- End Card 3-->
                <div class="card3 card">
                    <!-- Card Image -->
                    <img src="../images/fashion3.jpg" alt="">
                    <!-- Start Card Content-->
                    <div class="card-content">
                        <h4>What I'll be Wearing this Party Season &amp; the Festive edit
                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/11.jpg" alt="">
                            <span>
                                <p>Sonam Kapoor</p>
                                <p>Dec 24, 2023.</p>
                            </span>

                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Card Content-->
                </div>
                <!-- End Card 2-->
            </div>
            <!-- End Cards Section-->
        </div>
        <!-- ENd Section Content-->
    </div>
    <!-- End Section-4 -->

    <!-- Start Section-5 -->
    <div class="section-5">
        <!-- Start Heading Section-->
        <div class="section-heading">
            <h1> Beauty</h1>
            <button>View More</button>
        </div>
        <!-- End Heading Section-->

        <!-- Start Section Content-->
        <div class="section-content">
            <!-- Start Boxes Section-->
            <div class="boxes">
                <!-- Start Box 1-->
                <div class="box">
                    <!-- Box Image -->
                    <img src="../images/beauty1.jpg" alt="">
                    <!-- Start Box Content-->
                    <div class="box-content">
                        <h4>Natural Spa - Where you feel unique and special

                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/8.jpg" alt="">
                            <span>
                                <p>Purnima Sahu</p>
                                <p>Jan 18, 2024.</p>
                            </span>

                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Box Content-->
                </div>
                <!-- End Box 1-->
                <!-- Start Box 2-->
                <div class="box">
                    <!-- Box Image -->
                    <img src="../images/beauty2.jpg" alt="">
                    <!-- Start Box Content-->
                    <div class="box-content">
                        <h4>How to get Beautiful coloring Highlights this weak

                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/10.jpg" alt="">
                            <span>
                                <p>Khushi Sarohi</p>
                                <p>Jan 5, 2024.</p>
                            </span>

                        </div>

                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Box Content-->
                </div>
                <!-- End Box 2-->
                <!-- Start Box 3-->
                <div class="box">
                    <!-- Box Image -->
                    <img src="../images/beauty3.jpg" alt="">
                    <!-- Start Box Content-->
                    <div class="box-content">
                        <h4>New Hair Styles can look fabulous and shiny

                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/9.jpg" alt="">
                            <span>
                                <p>Anshika</p>
                                <p>Dec 28, 2023.</p>
                            </span>

                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Box Content-->
                </div>

                <!-- End Box 3-->
                <!-- Start Box 4-->
                <div class="box">
                    <!-- Box Image -->
                    <img src="../images/beauty4.jpg" alt="">
                    <!-- Start Box Content-->
                    <div class="box-content">
                        <h4>How our dreams should shine and spray beauty to us.
                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/6.jpg" alt="">
                            <span>
                                <p>Sarthak Rathore</p>
                                <p>Dec 15, 2023.</p>
                            </span>

                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Box Content-->
                </div>
                <!-- End Box 4-->
            </div>
            <!-- End Boxes Section-->
        </div>
        <!-- End Section Content-->
    </div>
    <!-- End Section-5 -->


    <!-- Start Section-6 -->
    <div class="section-6">
        <!-- Start Heading Section-->
        <div class="section-heading">
            <h1> Trending Now</h1>
            <button>View More</button>
        </div>
        <!-- End Heading Section-->

        <!-- Start Section Content-->
        <div class="section-content">
            <!-- Start Section Part-->
            <div class="section-part">
                <!-- Start Left Section-->
                <div class="left-section section-part-content ">
                    <!-- Section Image -->
                    <img src="../images/trending1.jpg " alt="">
                    <!--Start Box Content-->
                    <div class="box-content">
                        <button>Sports</button>
                        <h4>Playing footbal with your feet is one thing.

                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/1.jpg" alt="">
                            <span>
                                <p>Siddharth Sai</p>
                                <p>Jan 22, 2024.</p>
                            </span>
                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Box Content-->
                </div>
                <!-- End Left Section-->
                <!-- Start Right Section-->
                <div class="right-section section-part-content">
                    <!-- Section Image -->
                    <img src="../images/trending2.jpg" alt="">
                    <!-- Start Box Content-->
                    <div class="box-content">
                        <button>Fitness</button>
                        <h4>Experience the state of the art fitness! Fitness on Track
                        </h4>
                        <!-- Start Post-By Section-->
                        <div class="author">
                            <img src="../images/4.jpg" alt="">
                            <span>
                                <p>Ansh Agrawal</p>
                                <p>jan 4, 2024.</p>
                            </span>
                        </div>
                        <!-- End Post-By Section-->
                    </div>
                    <!-- End Box Content-->
                </div>
                <!-- End Right Section-->
            </div>
            <!-- End Section Part-->
        </div>
        <!-- End Section Content-->
    </div>
    <!-- End Section-6 -->


    <!-- Start Footer Section -->
    <footer>
        <div class="content">
            <!-- Start Footer Top Part -->
            <div class="bottom">
                <!-- Start Logo Details -->
                <div class="logo-details">
                    <img src="../images/logo1.jpg" alt="">
                    <span class="logo_name">ByteTabs</span>
                </div>
                <!-- End Logo Details -->
                <!-- Start Social Media Icon Section -->
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-telegram"></i></a>
                </div>
                <!-- End Social Media Icon Section -->
            </div>
            <!-- End Footer Top Part -->

            <hr>

            <!-- Start Footer Body -->
            <div class="link-boxes">
                <!-- Start Menu Section-->
                <ul class="box box1">
                    <li class="link_name">Menu</li>
                    <li><a href="../index">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/hire">Hiring</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <!-- End Menu Section-->

                <!-- Start Service Section-->
                <ul class="box box2">
                    <li class="link_name">Services</li>
                    <li><a href="#">Website Design</a></li>
                    <li><a href="#">Graphic Design</a></li>
                    <li><a href="#">Product Modeling</a></li>
                    <li><a href="#">Software Development</a></li>
                    <li><a href="#">Software Testing</a></li>
                    <li><a href="#">Social Media Handling </a></li>
                </ul>
                <!-- End Service Section-->

                <!-- Start Address Section-->
                <ul class="box box3">
                    <li class="link_name">Address</li>
                    <li><a href="#">Part 1, A71, Abul Fazal Enclave,</a></li>
                    <li><a href="#">Jamia Nagar, Okhla, New Delhi</a></li>
                    <li><a href="#">Delhi,110025</a></li>
                </ul>
                <!-- End Address Section-->

                <!-- Start Image Section-->
                <ul class="box input-box">
                    <!-- Start Image Slider -->
                    <div class="ads">
                        <div class="images">
                            <img src="../images/a1.jpg">
                            <img src="../images/a2.jpg">
                            <img src="../images/a3.jpg">
                            <img src="../images/a4.jpg">
                            <img src="../images/a5.jpg">
                            <img src="../images/a6.jpg">
                            <img src="../images/a7.jpg">
                            <img src="../images/a8.jpg">
                            <img src="../images/a9.jpg">
                            <img src="../images/a10.jpg">
                        </div>
                    </div>
                    <!-- Start Image Slider -->
                </ul>
                <!-- End Image Section-->
            </div>
            <!-- End Footer Body -->
        </div>


        <!-- Start Footer bottom Part -->
        <div class="footer-txt">
            <!-- Start Footer bottom  Left Part -->
            <div class="policy_terms">
                <h4>Privacy Policy</h4>
                <h4>Terms & Conditions</h4>
            </div>
            <!-- End Footer bottom  Left Part -->
            <!-- Start Footer bottom  Right Part -->
            <div class="copyright_text">
                <h4>Copyright ©2024 ByteTabs. </h4>
                <h4>All rights reserved.</span></h4>
            </div>
            <!-- End Footer bottom  Right Part -->
        </div>
        <!-- End Footer bottom Part -->
    </footer>
    <!-- End Footer Sectiion -->



    <!-- JavaScript FIle Link -->
    <script src="../javascripts/blog.js"></script>

</body>

</html>