@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
  }
  
  body {
    background: lightgray;
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .apply_box {
    max-width: 650px;
    padding: 20px;
    background: white;
    margin: 50px auto;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
  }

  .logo-details {
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  .logo-details img{
    width:50px;
    height: 50px;
  }

  .order-details {
    width: 100%;
    margin: 0 auto 10px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.order-details {
    display: block;
}
.order-details ul {
    display: none;
}
h2 {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
    margin-left: 30px;
}
li::marker{
  color: rgb(157, 152, 152);
}


.order-total {
    margin-bottom: 10px;
}

.order-total span:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}






  .form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 10px;
    column-gap: 20px;
  }
  .form_control {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  input,
  select,
  textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
  }
  input:focus {
    outline-color: blue;
  }
  
  input.file:focus {
    background: blue;
    color: #fff;
  }
  #result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 5px;
  }
  #result:hover {
    background: lightgray;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .thumbnail {
    width: 100px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  button {
    background: orangered;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 1s ease-in;
  }
  button:hover {
    background: green;
  
    color: #fff;
    transition: 1s ease-out;
  }
  .textarea_control {
    grid-column: 1 / span 2;
  }
  .textarea_control textarea {
    width: 100%;
  }
  @media (max-width: 460px) {
    .textarea_control {
      grid-column: 1 / span 1;
    }
  }





  
.error-message {
  color: #f32c16;
 
  margin-top: 5px;
  font-size: 12px;
}
